.fa-eye:hover{
    transform: scale(1.2);
    font-size: 1.2rem;
}

.fa-eye:active{
    transform: scale(0.9);
}
button{
    transition: all 1s ease;
}
button:hover{
    transform:scale(1.1);
}
button:active{
    transform: scale(0.9);
}

